**/.idea
**/target
**/dependency-reduced-pom.xml
**/*.iml
.DS_Store

**/.settings

**/.classpath

**/.project


.vscode/

operations-playground/.env
operations-playground/.envrc
operations-playground/lib/flink-dist_2.11-1.13.0.jar

operations-playground/lib/frauddetection-0.1.jar

*.log
/docker/kafka-data-gen/settings.xml
/docker/storm-topology/settings.xml
/docker/kafka-streams-topology/settings.xml
/docker/latcal/settings.xml

*.envrc
tmp/
reports/
/docker/flink-topology/settings.xml

Infra/ansible/inventory.cfg

Infra/terraform/.terraform.lock.hcl

Infra/terraform/.terraform/*

*.tfstate

Infra/terraform/variables.tf
